.cabecalho{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 80px ;
    align-items: center;
}

.menu__container-listas{
    display: flex;
    
    
}




.menu__titulo{
    font-family: var(--font);
    color: var(--preto-titulo);
    font-size: 18px;
    font-weight: 500;
    width: 9em;
    margin-left: 50px;
    margin-bottom: 15px;
    
    
    
    
    

}

.menu__link{
    font-family: var(--font);
    color: var(--cinza);
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 2rem;


}

.menu__link:hover{
    color: red;
    font-size: 20px;
}

.menu__link--entrar:hover{
    color: red;
    font-size: 20px;
}



.menu__link--entrar{
    font-family: var(--font);
    color: var(--cinza);
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 1rem;
}

.botao{
    font-family: var(--font);
    border-radius: 8px;
    color: #ffffff;
    font-weight: 500;
    background-color: var(--vinho);
    padding: 10px 18px ;
    border: none;
   


}

.menu__titulo::before{
    content: url(/img/worldwide\ 1\ \(Traced\).svg);

    margin-right: 15px;
   
   
  
  
    
}
